**/__pycache__/
*.ipynb
__pycache__/*
.mypy_cache/*
.eggs/*
.env
.envrc
.pytest_cache
.venv
.vscode/*
bin/act
build/*
dbt/dbt_packages/*
dbt/logs/*
dbt/target/*
dbt/.user.yml
dbt/dbt_dev.duckdb
dbt_dev
dbt_packages/*
dbt_prod
duckdb/*
local_output/*
logs/
main
medium_scraper.egg-info/*
target/*
tmp/*
token.txt
