name: pipeline

on:
  pull_request:
    branches:
      - main

  schedule:
    - cron: "0 6 * * 5"

  workflow_dispatch:
    inputs:
      ingestion_lookback_days:
        description: The number of days into the past for which to ingest data for
        required: true
        default: 2

env:
  CICD_RUN: "${{ github.event_name == 'pull_request' && 'True' || 'False' }}"
  DATA_DIR: "/home/runner/work/medium_scraper/medium_scraper/output"
  DBT_PROFILES_DIR: "${{ github.workspace }}/dbt"
  DBT_PROJECT_DIR: "${{ github.workspace }}/dbt"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  INGESTION_LOOKBACK_WINDOW: "${{ github.event_name == 'pull_request' && '2' || (github.event.inputs.ingestion_lookback_days || '7') }}"
  PAT_GITHUB:  ${{ secrets.PAT_GITHUB }}

jobs:
  pipeline:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        id: setup-python

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
            virtualenvs-create: true
            virtualenvs-in-project: true
            installer-parallel: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
            path: .venv
            key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install python dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-ansi

      - run: poetry run pre-commit run -a
        if: github.event_name == 'pull_request'

      - run: poetry run ingestion

      - run: poetry run transformation

      - run: poetry run data_products
        env:
          RECIPIENT_EMAIL_ADDRESS: "${{ github.event_name == 'pull_request' && '123@mailslurp.com' || secrets.SENDER_EMAIL_ADDRESS }}"
          SENDER_EMAIL_ADDRESS: ${{ secrets.SENDER_EMAIL_ADDRESS }}
          SENDER_EMAIL_PASSWORD: ${{ secrets.SENDER_EMAIL_PASSWORD }}

      - name: Build static content
        run: |
          poetry run jupyter lite build \
            --contents ./src/data_products/jupyter-lite.ipynb \
            --contents ./output/marts \
            --lite-dir ./src/data_products \
            --output-dir docs

      - name: Run pre-commit
        if: github.event_name != 'pull_request'
        run: poetry run pre-commit run -a || true

      - name: Run pre-commit (again)
        if: github.event_name != 'pull_request'
        run: poetry run pre-commit run -a || true

      - uses: EndBug/add-and-commit@v9
        if: github.event_name != 'pull_request'
        with:
          author_name: Github Actions
          author_email: actions@github.com
          new_branch: weekly_run_branch_${{ github.run_id }}

      # To ensure the PR triggers CI workflows it needs to use someone's PAT instead of the default GITHUB_TOKEN
      - name: Create Pull Request
        if: github.event_name != 'pull_request'
        run: |
          export GITHUB_TOKEN= && \
          echo ${{ secrets.PAT_GITHUB }} > token.txt && \
          gh auth login --with-token < token.txt && \
          gh pr create -B main -H weekly_run_branch_${{ github.run_id }} --title 'weekly_run ${{ github.run_id }}' --body 'Created by Github action' --label 'automerge'

  automerge_pull_requests:
    if: github.event_name == 'pull_request'
    needs: [pipeline]
    runs-on: ubuntu-latest
    steps:
      - name: Merge pull request
        uses: pascalgn/automerge-action@v0.15.6
        env:
          MERGE_METHOD: "squash"
